
debug_mode="True"
discord_token=""
bot_time_zone="UTC"
warnings_post_delete_delay_seconds="30.0"
redacted_post_delete_delay_seconds="120.0"
redacted_channel_id="1462994682046596618"
log_channel_id="1462994683482607627"
log_mention_role_id="1462994683482607627"
sqlite_db_path="bot/db/_database.db"
